body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  position: relative;
  z-index: 1;
  min-width: 1024px;
  height: 100%;
  background: #fff;
  min-height: 830px;
  max-width: 1472px;
  padding: 0;
  margin: 0;
}

/* nav */
.nav {
  width: 80%;
  height: 36px;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
  background: #333;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
  border-radius: 4px;
}

.nav ul {
  height: 100%;
  display: flex;
}

.nav ul li {
  flex: 1;
  border-right: 1px solid #525050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li:last-child {
  border: none;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}

.nav ul li:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.footer .wrapper ul li {
  display: inline-block;
}

.nav ul li:last-child:hover {
  background: none;
}

.billboard,
.footer,
.promos {
  position: absolute;
  left: 0;
}

.billboard {
  top: 0;
  right: 0;
  bottom: 34.5%;
  width: 100%;
  background: url(../img/your_verse_hero.jpg) no-repeat 50% 100%;
  z-index: 1;
  overflow: hidden;
}

.billboard .hero {
  position: relative;
  width: 80%;
  top: 20%;
  margin: 0 auto;
  text-align: center;
}

.billboard .header {
  padding: 50px 0;
}

.promos ul li a {
  display: block;
}

.billboard .header p a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  font-weight: normal;
}

.billboard .header .center {
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 31px;
  padding-top: 30px;
}

.footer .wrapper p a,
.footer .wrapper li a {
  text-decoration: none;
  color: #08c;
}

.footer .wrapper .piped li a {
  border-right: 1px solid #ccc;
  padding: 0 7px;
  font-size: 0.83em;
  line-height: 1.2;
}

.footer .wrapper p a:hover,
.footer .wrapper ul li a:hover {
  text-decoration: underline;
}

.billboard .header .center a:hover {
  border-bottom: 1px solid #fff;
  visibility: visible;
  z-index: 15;
}

.promos {
  width: 100%;
  bottom: 10%;
  overflow: hidden;
}

.promos ul {
  display: flex;
}

.promos .promo-img {
  width: 364px;
  height: 200px;
}

.promos .img-iphone5s {
  background: url(../img/promo_iphone5s.jpg) no-repeat center center/cover;
}

.promos .img-iphone5c {
  background: url(../img/promo_iphone5c.jpg) no-repeat center center/cover;
}

.promos .img-30-years {
  background: url(../img/promo_30_years.jpg) no-repeat center center/cover;
}

.promos .img-supplier {
  background: url(../img/promo_supplier_responsibility.jpg) no-repeat center center/cover;
}

.footer {
  width: 85%;
  right: 0;
  bottom: 0.75%;
  margin: 0 auto;
}

.footer .wrapper p,
.footer .wrapper ul {
  display: inline-block;
}

.footer .wrapper p {
  color: #6e6e6e;
  margin-right: 35px;
  font-size: 0.83em;
}

.footer .wrapper .piped .worldwide a {
  border-right: none;
}

.footer .bottom {
  padding: 9px 0;
}

.footer .wrapper .bottom .copyright {
  margin-right: 0;
}

.footer .bottom .piped .last a {
  border-right: 0;
}

/* input forms */
input[type="search"] {
  width: 100px;
  outline: none;
  background: transparent;
  border: 1px solid #888;
  border-radius: 15px;
  padding: 3px 0 3px 20px;
}

/* icon styles */
.light-gray {
  color: #dcdcdc;
}

.left-side {
  color: #fff;
  position: relative;
  top: 2px;
  right: 0;
  left: -95px;
}

